body {
    background-color: #C33434;
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: center;
    /*background-color: #1F2937;*/
    padding: 200px 13% 15px 13%;
}

.headerBorder {
    font-size: 25px;
    border: 4px solid black;
    border-left: 0;
    border-top: 0;
    text-transform: uppercase;
    height: 60px;
    width: 500px;
    color: white;
}

.tnavbar, .bnavbar {
    display: flex;
    /*justify-content: space-around;*/
    gap: 10px;
}

.tnavbar a {
    text-decoration: none;
    font-size: 50px;
    /*color: #F9FAF8;*/
    color: #F64C72;
    font-weight: bold;
}

.bnavbar a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

@media only screen and (max-width: 850px) {
    .header {
      display: flex;
      flex-direction: column;
      gap: 18px;
      padding: 10px 15% 30px 15%;
    }
  }



.mainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

}

.loginModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    border: 6px solid black;
    height: 450px;
    width: 20%;
}

.loginModel {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    border: 5px solid black;
    height:450px;
    width: 300px
}


.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.loginModel h2 {
    color: white;
    text-transform: uppercase;
    font: bold;
    border: 3px solid black;
    border-left: 0;
    border-top: 0;
    width: 80px;
}

.loginModel input {
    border: 0;
    background-color: #FDB7B5;
    display: block;
    margin: -8px auto;
    text-align: center;
    border: 2px solid #F07A77;
    border-radius: 25px;
    padding: 14px 10px;
    width: 200px;
}

.loginModel input:focus {
    width: 280px;
}

.homeModel {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    border: 5px solid black;
    height: 50px;
    width: 200px
}


.loginRegister {
    display: flex;
    flex-direction: column;
}
